@import '_variables.scss';
.hoverable.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
    .card-content {
        background: $primary-color;
        .card-title.grey-text.text-darken-3 {
            color: white !important;
        }
        .grey-text.text-darken-6 {
            color: white !important;
        }
    }
}

.card-space {
    padding: 0 5px !important;
}

// header
.tum-header {
    height: $header;
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    .tum-navbar {
        display: flex;
        .tum-item {
            width: 150px;
            height: $header;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                color: #000;
                line-height: 10px;
            }
        }
    }
    .tum-logo {
        background: url('/src/assets/image/logo.png') center center no-repeat;
    }
    .nav-items {
        li {
            a {
                color: #000;
                height: $header;
                line-height: $header;
            }
        }
    }
}

// footer
.page-footer {
    background: $primary-color;
    .tum-footer {
        background: $footer_bg;
        .footer-wrapper {
            display: flex;
            .footer-item {
                flex: 1;
                display: flex;
                flex-direction: column;
                .ft-top {
                    margin: 40px 0;
                    .white-text {
                        line-height: 30px;
                        font-size: 18px;
                        margin: 18px 0 30px;
                    }
                    li {
                        font-size: 14px;
                        line-height: 30px;
                    }
                }
                .ft-bottom > img {
                    width: 140px;
                }
            }
        }
        .footer-copyright {
            font-size: 14px;
            background: $copyright_bg;
        }
    }
}

// background
.bg-grey {
    background: $gray_deep_bg;
}
.bg-grey-light {
    background: $gray_shadow_bg;
}

.hove_undeline:hover {
    text-decoration: underline;
}
