# http://editorconfig.org

root = true

[*]
# 始终在文件末尾插入新行
charset = utf-8
end_of_line = lf
insert_final_newline = true 
indent_style = space
indent_size = 4
# 是否除去换行行首的任意空白字符
trim_trailing_whitespace = true

# 对后缀名为 md 的文件生效
[*.md]
trim_trailing_whitespace = false