<!-- footer -->
<footer class="page-footer scrollfire">
    <div class="tum-footer">
        <div class="container footer-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-3 footer-item">
                    <div class="ft-logo">
                        <img class="reponsive-img" src="../assets/image/logo/logo_white.png" alt="">
                    </div>
                    <div class="ft-bottom">
                        <img class="reponsive-img" src="../assets/image/qrcode.png" alt="">
                    </div>
                    <p class="ft-ps white-text text-lighten-6">微信扫码关注</p>
                </div>
                <div class="col-sm-12 col-md-3 footer-item d-none d-lg-block d-md-block">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"><b>了解涂梦</b> </h5>
                        <ul>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/video-list">精彩演讲</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/about">关于涂梦</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/about">公示信息</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 footer-item  d-none d-lg-block d-md-block">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"> <b>与涂梦同行</b> </h5>
                        <ul>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/speaker-join">我要演讲</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/school-join">学校入住</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/donate">支持涂梦</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="/donate">工作机会</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 footer-item">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"> <b>联系我们</b> </h5>
                        <ul>
                            <li><span class="white-text text-lighten-6" href="#!">学校服务热线：18722124990</span></li>
                            <li><span class="white-text text-lighten-6" href="#!">演讲者服务客服：18722124990</span></li>
                            <li><span class="white-text text-lighten-6" href="#!">邮箱：Info@tomoroe.org</span></li>
                            <li><span class="white-text text-lighten-6" href="#!">微信公众号：tomoroe</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container text-center">
                © 2014 Copyright Text
            </div>
        </div>
    </div>
</footer>
