<!-- footer -->
<footer class="page-footer scrollfire">
    <div class="tum-footer">
        <div class="container footer-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-3 footer-item">
                    <div class="ft-logo">
                        <img class="reponsive-img" src="../assets/image/logo.png" alt="">
                    </div>
                    <div class="ft-bottom">
                        <img class="reponsive-img" src="../assets/image/qrcode.png" alt="">
                    </div>
                    <p class="ft-ps white-text text-lighten-6">微信扫码关注</p>
                </div>
                <div class="col-sm-12 col-md-3 footer-item hide-on-med-and-down">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"><b>了解涂梦</b> </h5>
                        <ul>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">精彩演讲</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">关于涂梦</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">公式信息</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 footer-item  hide-on-med-and-down">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"> <b>与涂梦同行</b> </h5>
                        <ul>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">我要演讲</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">学校入住</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">支持涂梦</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">工作机会</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 footer-item">
                    <div class="ft-top">
                        <h5 class="ft-title white-text text-lighten-6"> <b>联系我们</b> </h5>
                        <ul>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">学校服务热线：18722124990</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">演讲者服务客服：18722124990</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">邮箱：Info@tomoroe.org</a></li>
                            <li><a class="white-text text-lighten-6 hove_undeline" href="#!">微信公众号：tomoroe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container text-center">
                © 2014 Copyright Text
            </div>
        </div>
    </div>
</footer>
