<nav class="navbar navbar-expand-md navbar-light tum-header">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="../assets/image/logo/logo.png" class="d-inline-block align-top" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item tum-border-left d-none d-lg-block">
                    <div></div>
                </li>
                <li class="nav-item tum-item d-none d-xl-block">
                    <p>关注中学生成长与</p>
                    <p>发展的非营利项目</p>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto d-block d-md-none d-lg-flex tm-list">
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">精彩演讲</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">我要演讲</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">关于涂梦</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">支持涂梦</a>
                </li>
            </ul>
            <form class="form-inline">
                <div class="sr-select-wrapper">
                    <div class="search-item">
                        <input placeholder="请输入..." type="text" class="search-input validate">
                        <span class="search-icon">
                            <i class="icon iconfont icon-search" ></i>
                        </span>
                    </div>
                </div>
            </form>

            <!-- not login -->
            <div class="dropdown tm-sign">
                <button data-toggle="dropdown" data-trigger="hover" class="btn btn-danger header-btn tm-btn my-2 my-sm-0" >登陆</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-toggle="modal" data-target="#speaker_login" href="#">演讲者登陆</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#school_login" href="#">学校登陆</a>
                </div>
            </div>

            <!-- login -->

            <!-- <div class="dropdown tm-sign">
                <img data-toggle="dropdown" data-trigger="hover" src="../assets/image/logo/tsinghua.png" class="img-fluid" alt="avatar">
                <div class="dropdown-menu">
                    <a class="dropdown-item">123456</a>
                    <a class="dropdown-item" href="#">管理中心</a>
                    <a class="dropdown-item" href="#">个人主页</a>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </div> -->
        </div>
    </div>
</nav>
