<!-- 合作伙伴 -->
<section class="wrapper co-ss bg-grey scrollfire hide-on-med-and-down">
    <div class="container cooperate-module">
        <div class="cooperate-item">
            <h2 class="co-title text-center">合作伙伴</h2>
            <div class="row logo-row">
                <div class="col">
                    <img src="../assets/image/sponors/yijijing.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/hengnan.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/alibaba.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/pwc.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/zhongguomingsheng.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/eeo.png" alt="">
                </div>
            </div>
            <div class="row logo-row">
                <div class="col">
                    <img src="../assets/image/sponors/sheraton.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/zhongguofupin.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/gongyishibao.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/pengpai.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/mayun.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/npi.png" alt="">
                </div>
                <div class="col">
                    <img src="../assets/image/sponors/xincheng.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
