<!-- 我要报名 -->
<section class="wrapper scrollfire">
    <div class="container sign-module">
        <div class="row">
            <a class="col-sm-12 col-md-6" href="#">
                <img class="responsive-img tumeng-sign" src="../assets/image/coor1.png" alt="">
                <div class="sign-mask"></div>
                <div class="sign-box pos-1">
                    <h2>我要演讲</h2>
                    <p>演讲者传播知识</p>
                </div>
            </a>
            <a class="col-sm-12 col-md-6" href="#">
                <img class="responsive-img tumeng-sign" src="../assets/image/coor2.png" alt="">
                <div class="sign-mask"></div>
                <div class="sign-box pos-2">
                    <h2>学校入驻</h2>
                    <p>获得演讲者分享</p>
                </div>
            </a>
        </div>
    </div>
</section>
