<!-- 数据分布 -->
<section class="wrapper scrollfire record-aass">
    <div class="container record-map">
        <div class="row record-wrapper text-center">
            <div class="record-item br-right col-6 col-lg-3">
                <h2><b class="animateNumber" data-number="10000">10000</b>+</h2>
                <h3>受益学生</h3>
                <p>海量学生从涂梦的分享中获得知识</p>
            </div>
            <div class="record-item br-right col-6 col-lg-3">
                <h2><b class="animateNumber" data-number="100">100</b>+</h2>
                <h3>演讲</h3>
                <p>目前为止涂梦已举行大量的线上直播分享</p>
            </div>
            <div class="record-item br-right col-6 col-lg-3">
                <h2><b class="animateNumber" data-number="13">13</b>+</h2>
                <h3>地区</h3>
                <p>涂梦的分享横跨中国各省，覆盖多个地区</p>
            </div>
            <div class="record-item col-6 col-lg-3">
                <h2><b class="animateNumber" data-number="40">40</b>+</h2>
                <h3>学校</h3>
                <p>专注初中高中学生，已与大量学校连线分享</p>
            </div>
        </div>
    </div>
</section>
