<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
    <title> 首页 - 涂梦教育 </title>
</head>
<body>
    <%= require('html-loader!../templates/header.html') %>
    <%= require('html-loader!../templates/modal/modal_login.html') %>
    <%= require('html-loader!../templates/modal/modal_register.html') %>
    <!-- tumeng misson -->
    <section class="index-image-wrapper mission">
        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/background/bg_4.png" alt="关于涂梦" class="img-background">
        <div class="tm-content container">
            <h2 class="text-center img-title">关于涂梦</h2>
            <p class="img-title">涂梦（Tomoroe)是一个关注中学生成长与发展的非营利项目。</p>
            <p class="img-title">该项目向偏远地区学生分享自己的成长经历和职场奋斗的故事。致力于帮助因经济欠发达、信息闭塞而无法获悉职业讯息的学生了解最真实的职业故事，帮助学生拓展视野，丰富职业选项，树立生涯志向，并用榜样的力量去驱动学生，为了心中的梦想，自信、勇敢地为之努力</p>
        </div>
    </section>
    <section class="wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 about-item">
                    <i class="icon iconfont icon-fight"></i>
                    <h3 class="ab-t">学生面临的挑战</h3>
                    <h3 class="ab-t">Challenge</h3>
                    <a href="##" class="btn">详情</a>
                </div>
                <div class="col-md-6 col-lg-3 about-item">
                    <i class="icon iconfont icon-why"></i>
                    <h3 class="ab-t">他们为什么需要帮助</h3>
                    <h3 class="ab-t">Why</h3>
                    <a href="##" class="btn">详情</a>
                </div>
                <div class="col-md-6 col-lg-3 about-item">
                    <i class="icon iconfont icon-help"></i>
                    <h3 class="ab-t">我们如何帮助他们</h3>
                    <h3 class="ab-t">How</h3>
                    <a href="##" class="btn">详情</a>
                </div>
                <div class="col-md-6 col-lg-3 about-item">
                    <i class="icon iconfont icon-aboutus"></i>
                    <h3 class="ab-t">我们的尝试</h3>
                    <h3 class="ab-t">Try</h3>
                    <a href="##" class="btn">详情</a>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper tm-bg ab-fight">
        <div class="container">
            <h3 class="ab-title" >学生面临的挑战</h3>
            <h4>知识能改变命运，却不是他们！</h4>
            <p>高失业率意味着 “贫二代” 中 本来最有希望依靠知识改变命运的这一部分人，他们的梦想还没出发，在现实面前就已折戟</p>
            <div class="fight-figure row">
                <div class="figure-box col-line-5 col-lg-3 col-md-6">
                    <div class="image">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/fg-1.png" alt="对专业不了解">
                        <span class="fg-num" >80%</span>
                    </div>
                    <h3>对专业不了解</h3>
                    <p>80%的学生在填报志愿时对所填专业不是很了解</p>
                </div>
                <div class="figure-box col-line-5 col-lg-3 col-md-6">
                    <div class="image">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/fg-1.png" alt="志愿填报非几所好">
                        <span class="fg-num" >65%</span>
                    </div>
                    <h3>志愿填报非几所好</h3>
                    <p>在高考志愿填报时，65%的学生不是根据自己的兴趣爱好填报</p>
                </div>
                <div class="figure-box col-line-5 col-lg-3 col-md-6">
                    <div class="image">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/fg-1.png" alt="对专业不感兴趣">
                        <span class="fg-num" >33%</span>
                    </div>
                    <h3>对专业不感兴趣</h3>
                    <p>有三分之一以上的学生对所学专业不感兴趣</p>
                </div>
                <div class="figure-box col-line-5 col-lg-3 col-md-6">
                    <div class="image">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/fg-4.png" alt="职业与专业不合">
                        <span class="fg-num" >46%</span>
                    </div>
                    <h3>职业与专业不合</h3>
                    <p>2014届大学毕业生工作与职位期待的吻合度仅为46%</p>
                </div>
                <div class="figure-box col-line-5 col-lg-3 col-md-6 d-none d-xl-block">
                    <div class="image">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/fg-5.png" alt="就业困难">
                        <span class="fg-num" >30.5%</span>
                    </div>
                    <h3>就业困难</h3>
                    <p>农业家庭的普通本科院校毕业生成为就业最为困难的群体，失业率高达30.5%</p>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper data-suport">
        <h2 class="text-center">学生需要您的支持</h2>
        <p class="text-center">中国高中生接受职业与毕业指导的比例远低于国际水平</p>
        <p class="text-center">中国青少年研究中心联合日、美、韩发起对四国高中生的毕业去向和职业生涯教育为主题的比较研究，《中美日韩高中生毕业去向和职业生涯教育研究报告》揭示：中国高中生的职业生涯教育已经全面落后于其他三个国家，进而导致中国高中生在毕业去向及职业选择上，出现许多令人担忧的问题。</p>
        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/background/record_1.png" class="img-fluid" alt="">
    </section>
    <section class="wrapper bg-grey ab-project">
        <div class="container">
            <h2 class="ab-title" >涂梦的项目模式</h2>
            <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/about-2.png" class="img-fluid d-none d-md-block" alt="项目">
            <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/about-phone.png" class="img-fluid d-block d-md-none" alt="项目">
        </div>
    </section>
    <%= require('html-loader!../templates/statistics.html') %>
    <section class="wrapper" >
        <div class="container public-wrapper">
            <h2 class="ab-title" >公示信息</h2>
            <div>
                <img class="img-fluid" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/about/about-1.png" class="img-fluid" alt="公示信息">
            </div>
        </div>
    </section>
    <%= require('html-loader!../templates/partner.html') %>
    <%= require('html-loader!../templates/signModule.html') %>
    <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
