<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 首页 - 涂梦教育 </title>
</head>

<body>
    <%= require('html-loader!../templates/header.html') %>
        <!-- 轮播图 -->
        <div class="carousel-wrapper">
            <div class="carousel carousel-slider index-carousel">
                <a class="carousel-item" data-smpic="url('assets/image/banner.sm.jpg')" data-bgpic="url('assets/image/banner.bg.png')" style="background-image:url('assets/image/banner.png') center center no-repeat" href="#one!"></a>
                <a class="carousel-item" data-smpic="url('assets/image/banner.sm.jpg')" data-bgpic="url('assets/image/banner.bg.png')" style="background-image:url('assets/image/bg1.jpg') center center no-repeat" href="#one!"></a>
                <a class="carousel-item" data-smpic="url('assets/image/banner.sm.jpg')" data-bgpic="url('assets/image/banner.bg.png')" style="background-image:url('assets/image/bg2.jpg') center center no-repeat" href="#two!"></a>
                <a class="carousel-item" data-smpic="url('assets/image/banner.sm.jpg')" data-bgpic="url('assets/image/banner.bg.png')" style="background-image:url('assets/image/bg3.jpg') center center no-repeat" href="#three!"></a>
            </div>
        </div>
        <!-- 数据分布 -->
        <section class="wrapper scrollfire record-aass">
            <div class="container center record-map">
                <div class="row record-wrapper center">
                    <div class="record-item border-right col s6 xl3">
                        <h2><b class="animateNumber" data-number="10000">10000</b>+</h2>
                        <h3>受益学生</h3>
                        <p>海量学生从涂梦的分享中获得知识</p>
                    </div>
                    <div class="record-item border-right col s6 xl3">
                        <h2><b class="animateNumber" data-number="100">100</b>+</h2>
                        <h3>演讲</h3>
                        <p>目前为止涂梦已举行大量的线上直播分享</p>
                    </div>
                    <div class="record-item border-right col s6 xl3">
                        <h2><b class="animateNumber" data-number="13">13</b>+</h2>
                        <h3>地区</h3>
                        <p>涂梦的分享横跨中国各省，覆盖多个地区</p>
                    </div>
                    <div class="record-item col s6 xl3">
                        <h2><b class="animateNumber" data-number="40">40</b>+</h2>
                        <h3>学校</h3>
                        <p>专注初中高中学生，已与大量学校连线分享</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 热门视频 -->
        <section class="wrapper scrollfire">
            <div class="container ">
                <h2 class="video-title">
                    热门视频
                </h2>
                <div class="video-wrapper row">
                    <div class="index-video col s12 l8">
                        <div class="index-video-image">
                            <div class="video-mask index-mask in-mask">
                                <h2>知识改变命运,梦想成就未来</h2>
                                <p>演讲者：Francisco</p>
                            </div>
                            <img src="assets/image/video_bg.png" class="responsive-img in-mask" alt="">
                        </div>
                        <div class="video-player hide">
                            <video class="video-js responsive-video" id="video">
                                <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                                <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                            </video>
                        </div>
                    </div>
                    <div class="extra-video col s12 l4 hide-on-med-and-down">
                        <div class="video-item">
                            <img src="assets/image/video_sm1.png" class="responsive-img" alt="">
                            <div class="video-mask extra-mask">
                                <h4>摄影师发现美的眼睛</h4>
                                <p>演讲者：张美美</p>
                            </div>
                        </div>
                        <div class="video-item mt-col">
                            <img src="assets/image/video_sm.png" class="responsive-img" alt="">
                            <div class="video-mask extra-mask">
                                <h4>建筑师的使命感</h4>
                                <p>演讲者：李永征</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videos">
                <a href="#" class="video-item"></a>
                <a href="#" class="video-item"></a>
            </div>
        </section>
        <!-- 视频区域 -->
        <section class="wrapper vd-ss scrollfire bg-grey-light">
            <div class="vd-context">
                <div class="container">
                    <div class="vd-title">最新演讲</div>
                    <div class="row">
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vd-context">
                <div class="container">
                    <div class="vd-title">最新演讲</div>
                    <div class="row">
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vd-context">
                <div class="container">
                    <div class="vd-title">最新演讲</div>
                    <div class="row">
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l3 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="assets/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 合作伙伴 -->
        <section class="wrapper co-ss bg-grey scrollfire hide-on-med-and-down">
            <div class="container cooperate-module">
                <div class="cooperate-item">
                    <h2 class="co-title center">合作伙伴</h2>
                    <div class="co-logos">
                        <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                    </div>
                </div>
                <div class="cooperate-item">
                    <h2 class="co-title center">服务机构</h2>
                    <div class="co-logos">
                        <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                        <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                    </div>
                </div>
            </div>
        </section>
        <%= require('html-loader!../templates/signModule.html') %>
            <!-- float button -->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
                <ul>
                    <li><a class="btn-floating red"><i class=" tooltip material-icons" data-position="left" data-tooltip="加入我们">insert_chart</i></a></li>
                    <li><a class="btn-floating yellow darken-1"><i class=" tooltip material-icons" data-position="left" data-tooltip="我要演讲">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class=" tooltip material-icons" data-position="left" data-tooltip="返回顶部">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class=" tooltip material-icons" data-position="left" data-tooltip="支持涂梦">attach_file</i></a></li>
                </ul>
            </div>
            <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
