<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 首页 - 涂梦教育 </title>
</head>

<body>
        <%= require('html-loader?interpolate =active!../templates/header.html') %>
        <%= require('html-loader!../templates/modal/modal_login.html') %>
        <%= require('html-loader!../templates/modal/modal_register.html') %>
        <!-- 轮播图 -->
        <div id="carousels" class="index-image-wrapper carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousels" data-slide-to="0" class="active"></li>
                <li data-target="#carousels" data-slide-to="1"></li>
                <li data-target="#carousels" data-slide-to="2"></li>
                <li data-target="#carousels" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/banner.png" class="img-fluid res-image" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/banner.png" class="img-fluid res-image" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/banner.png" class="img-fluid res-image" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/banner.png" class="img-fluid res-image" alt="banner">
                </div>
                <a class="carousel-control-prev" href="#carousels" role="button" data-slide="prev">
                    <i class="icon iconfont icon-left"></i>
                </a>
                <a class="carousel-control-next" href="#carousels" role="button" data-slide="next">
                    <i class="icon iconfont icon-right"></i>
                </a>
            </div>
        </div>
        <%= require('html-loader!../templates/statistics.html') %>
            <!-- 热门视频 -->
            <section class="wrapper scrollfire">
                <div class="container ">
                    <h2 class="video-title">
                        热门视频
                    </h2>
                    <div class="video-wrapper row">
                        <div class="index-video col-sm-12 col-lg-8">
                            <a href="{$vVideoRecommend[0].linkUrl}" class="big-item">
                                <img class="img-fluid" src="{$vVideoRecommend[0].previewUrl}" alt="{$vVideoRecommend[0].speakerName}">
                                <div class="video-mask">
                                    <h2 class="text-truncate">{$vVideoRecommend[0].videoTitle}</h2>
                                    <p>{$vVideoRecommend[0].speakerName}</p>
                                </div>
                            </a>
                        </div>
                        <div class="extra-video col-sm-12 col-lg-4">
                            <a href="{$vVideoRecommend[1].linkUrl}" class="video-item">
                                <img src="{$vVideoRecommend[1].previewUrl}" class="responsive-img" alt="{$vVideoRecommend[1].speakerName}">
                                <div class="video-mask extra-mask">
                                    <h4 class="text-truncate">{$vVideoRecommend[1].videoTitle}</h4>
                                    <p>{$vVideoRecommend[1].speakerName}</p>
                                </div>
                            </a>
                            <a href="{$vVideoRecommend[2].linkUrl}" class="video-item mt-col">
                                <img src="{$vVideoRecommend[2].previewUrl}" class="responsive-img" alt="{$vVideoRecommend[2].speakerName}">
                                <div class="video-mask extra-mask">
                                    <h4 class="text-truncate">{$vVideoRecommend[2].videoTitle}</h4>
                                    <p>{$vVideoRecommend[2].speakerName}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="videos">
                    <a href="#" class="video-item"></a>
                    <a href="#" class="video-item"></a>
                </div>
            </section>
            <!-- 视频区域 -->
            <section class="wrapper vd-ss scrollfire bg-grey-light">
                {foreach $vVideoTypeList as $e }
                    <div class="vd-context">
                        <div class="container">
                            <div class="vd-title">{$e.videoTypeName}<a href="##" class="vd-more grey-666">更多</a> </div>
                            <div class="row">
                                {foreach $e.videoList as $m }
                                <div class="col-sm-12 col-md-6 col-lg-3 card-space">
                                    <a href="{$m.linkUrl}" class="card hoverable card-hover">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="{$m.previewUrl}">
                                            <span class="vd-times badge">{$m.duration}</span>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title grey-333">{$m.videoTitle}</span>
                                            <div class="vd-extra">
                                                <span class="grey-666">{$m.speakerName}</span>
                                                <span class="grey-999">{$m.playTimes}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                {/foreach}
            </section>
            <%= require('html-loader!../templates/partner.html') %>
                <%= require('html-loader!../templates/signModule.html') %>
                    <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
