<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 首页 - 涂梦教育 </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <!-- 头部 -->
    <nav class="tum-header scrollfire">
        <div class="container">
            <div class="tum-navbar">
                <div class="tum-left">
                    <a href="#" class="tum-item tum-logo">
                        <div class="border-right hide-on-small-only"></div>
                    </a>
                    <div class="tum-item hide-on-small-only">
                        <p class="center grey-333">关注中学生成长与</p>
                        <p class="center grey-333">发展的非营利项目</p>
                    </div>
                </div>
                <ul class="nav-items hide-on-med-and-down tum-center">
                    <li><a class="wave-light" href="#">首页</a></li>
                    <li><a class="wave-light" href="#">精彩演讲</a></li>
                    <li><a class="wave-light" href="#">我要演讲</a></li>
                    <li><a class="wave-light" href="#">关于涂梦</a></li>
                    <li><a class="wave-light" href="#">支持涂梦</a></li>
                </ul>
                <div class="tum-right">
                    <div class="search-item">
                        <input placeholder="请输入..." type="text" class="validate">
                        <span class="search-icon">
                            <i class="material-icons">search</i>
                        </span>
                    </div>
                    <div class="sign">
                        <a href="#" class="btn tum-sign-button">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- 轮播图 -->
    <div class="carousel-wrapper">
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="assets/image/banner.png"></a>
            <a class="carousel-item" href="#one!"><img src="assets/image/bg1.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="assets/image/bg2.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="assets/image/bg3.jpg"></a>
        </div>
    </div>
    <!-- 数据分布 -->
    <section class="wrapper scrollfire record-aass">
        <div class="container center record-map">
            <div class="row record-wrapper center">
                <div class="record-item border-right col s6 xl3">
                    <h2><b class="animateNumber" data-number="10000">10000</b>+</h2>
                    <h3>受益学生</h3>
                    <p>海量学生从涂梦的分享中获得知识</p>
                </div>
                <div class="record-item border-right col s6 xl3">
                    <h2><b class="animateNumber" data-number="100">100</b>+</h2>
                    <h3>演讲</h3>
                    <p>目前为止涂梦已举行大量的线上直播分享</p>
                </div>
                <div class="record-item border-right col s6 xl3">
                    <h2><b class="animateNumber" data-number="13">13</b>+</h2>
                    <h3>地区</h3>
                    <p>涂梦的分享横跨中国各省，覆盖多个地区</p>
                </div>
                <div class="record-item col s6 xl3">
                    <h2><b class="animateNumber" data-number="40">40</b>+</h2>
                    <h3>学校</h3>
                    <p>专注初中高中学生，已与大量学校连线分享</p>
                </div>
            </div>
        </div>
    </section>
    <!-- 热门视频 -->
    <section class="wrapper scrollfire">
        <div class="container ">
            <h2 class="video-title">
                热门视频
            </h2>
            <div class="video-wrapper row">
                <div class="index-video col s12 l8">
                    <div class="index-video-image">
                        <div class="video-mask index-mask in-mask">
                            <h2>知识改变命运,梦想成就未来</h2>
                            <p>演讲者：Francisco</p>
                        </div>
                        <img src="assets/image/video_bg.png" class="responsive-img in-mask" alt="">
                    </div>
                    <div class="video-player hide">
                        <video class="video-js responsive-video" id="video">
                            <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                            <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                        </video>
                    </div>
                </div>
                <div class="extra-video col s12 l4 hide-on-med-and-down">
                    <div class="video-item">
                        <img src="assets/image/video_sm1.png" class="responsive-img" alt="">
                        <div class="video-mask extra-mask">
                            <h4>摄影师发现美的眼睛</h4>
                            <p>演讲者：张美美</p>
                        </div>
                    </div>
                    <div class="video-item mt-col">
                        <img src="assets/image/video_sm.png" class="responsive-img" alt="">
                        <div class="video-mask extra-mask">
                            <h4>建筑师的使命感</h4>
                            <p>演讲者：李永征</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="videos">
            <a href="#" class="video-item"></a>
            <a href="#" class="video-item"></a>
        </div>
        </div>
    </section>
    <!-- 视频区域 -->
    <section class="wrapper vd-ss scrollfire bg-grey-light">
        <div class="vd-context">
            <div class="container">
                <div class="vd-title">最新演讲</div>
                <div class="row">
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vd-context">
            <div class="container">
                <div class="vd-title">最新演讲</div>
                <div class="row">
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vd-context">
            <div class="container">
                <div class="vd-title">最新演讲</div>
                <div class="row">
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3 card-space">
                        <div class="card hoverable card-hover">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="assets/image/office.jpg">
                                <span class="vd-times badge">12:58</span>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-333">成为更好的自己</span>
                                <div class="vd-extra">
                                    <span class="grey-666">演讲者：周程程</span>
                                    <span class="grey-999">9999次播放</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 合作伙伴 -->
    <section class="wrapper co-ss bg-grey scrollfire hide-on-med-and-down">
        <div class="container cooperate-module">
            <div class="cooperate-item">
                <h2 class="co-title center">合作伙伴</h2>
                <div class="co-logos">
                    <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                </div>
            </div>
            <div class="cooperate-item">
                <h2 class="co-title center">服务机构</h2>
                <div class="co-logos">
                    <img src="assets/image/sponors/logo33.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo44.png" alt="" class="responsive-img">
                    <img src="assets/image/sponors/logo55.png" alt="" class="responsive-img">
                </div>
            </div>
        </div>
    </section>
    <!-- 我要报名 -->
    <section class="wrapper scrollfire">
        <div class="container sign-module">
            <div class="row">
                <a class="col s12 m6" href="#">
                    <img class="responsive-img tumeng-sign" src="assets/image/coor1.png" alt="">
                </a>
                <a class="col s12 m6" href="#">
                    <img class="responsive-img tumeng-sign" src="assets/image/coor2.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="page-footer scrollfire">
        <div class="tum-footer">
            <div class="container footer-wrapper">
                <div class="row">
                    <div class="col s12 m3 footer-item">
                        <div class="ft-logo">
                            <img class="reponsive-img" src="assets/image/logo.png" alt="">
                        </div>
                        <div class="ft-bottom">
                            <img class="reponsive-img" src="assets/image/qrcode.png" alt="">
                        </div>
                        <p class="ft-ps white-text text-lighten-6">微信扫码关注</p>
                    </div>
                    <div class="col s12 m3 footer-item hide-on-med-and-down">
                        <div class="ft-top">
                            <h5 class="ft-title white-text text-lighten-6"><b>了解涂梦</b> </h5>
                            <ul>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">精彩演讲</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">关于涂梦</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">公式信息</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m3 footer-item  hide-on-med-and-down">
                        <div class="ft-top">
                            <h5 class="ft-title white-text text-lighten-6"> <b>与涂梦同行</b> </h5>
                            <ul>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">我要演讲</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">学校入住</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">支持涂梦</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">工作机会</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m3 footer-item">
                        <div class="ft-top">
                            <h5 class="ft-title white-text text-lighten-6"> <b>联系我们</b> </h5>
                            <ul>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">学校服务热线：18722124990</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">演讲者服务客服：18722124990</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">邮箱：Info@tomoroe.org</a></li>
                                <li><a class="white-text text-lighten-6 hove_undeline" href="#!">微信公众号：tomoroe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2014 Copyright Text
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
