<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 首页 - 涂梦教育 </title>
</head>

<body>
    <div class="video-wrapper"></div>
    <div class="share-wrapper">
        <div class="title"></div>
        <div class="share"></div>
    </div>
    <div class="vd-intro">
        <ul class="tabs">
            <li class="tab ex-tab"><a href="#vd-info">视频详情</a></li>
            <li class="tab ex-tab"><a class="active" href="#vd-author">作者简介</a></li>
            <li class="tab ex-tab"><a class="active" href="#vd-school">学校简介</a></li>
        </ul>
        <div class="ivd-content">
            <div class="cube" id="vd-info">
                <p>本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                <h5>建筑是什么</h5>
                <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                <h5>建筑是什么</h5>
                <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
            </div>
            <div class="cube" id="vd-author">
                <div class="ivd-avatar">
                    <img src="../assets/image/office.jpg" class="responsive-img" alt="陈炳旭">
                    <div class="ivd-info">
                        <h5>陈炳旭<sub>建筑师</sub></h5>
                        <p>15 <sub>邀约</sub></p>
                        <p>30 <sub>贡献人数</sub></p>
                        <div class="ivd-group">
                            <a href="#!" class="btn">立即邀约</a>
                            <a href="#!" class="btn">全部作品</a>
                        </div>
                    </div>
                </div>
                <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
            </div>
            <div class="cube" id="vd-school">
                <div class="ivd-avatar">
                    <img src="../assets/image/office.jpg" class="responsive-img" alt="清华大学">
                    <div class="ivd-info">
                        <h5>清华大学<sub>全国重点大学</sub></h5>
                        <p>15 <sub>分享获得</sub></p>
                        <div class="ivd-group">
                            <a href="#!" class="btn">立即邀约</a>
                            <a href="#!" class="btn">全部作品</a>
                        </div>
                    </div>
                </div>
                <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
            </div>
        </div>
    </div>
    <!-- 涂梦介绍 -->
    <div class="tumeng-intro">
        <div class="tg-tab"></div>
        <div class="tg-ctx"></div>
    </div>
    <%= require('html-loader!../templates/signModule.html') %>

    <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
