<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 首页 - 涂梦教育 </title>
</head>

<body>
    <%= require('html-loader!../templates/header.html') %>
        <section class="wrapper bg-grey-light">
            <div class="container home-navbar">
                <div class="card tm-card tm-nv-card">
                    <div class="card-image-left">
                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/logo/tsinghua.png" class="img-fluid" alt="image">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">清华大学<span class="bages tm-bg">穷</span></h2>
                        <p class="card-text">简称清华，重点大学</p>
                    </div>
                    <div class="tm-invite">
                        <div class="invite-num">
                            <span class="num">23</span>
                            <span class="msg">已开课数</span>
                        </div>
                        <div class="invite-btn tm-btn">邀约</div>
                    </div>
                </div>
            </div>
            <div class="container home-wrapper">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card tm-card tm-item-card">
                            <div class="card-icon">
                                <i class="icon iconfont icon-dizhi01"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title grey-333">地址</h2>
                                <p class="card-text grey-666">中国北京市海淀区双清路30号，100084</p>
                                <p class="card-text grey-666">Tsinghua University. Beijing 100084 P.R.CHINA</p>
                            </div>
                        </div>
                        <div class="card tm-card tm-item-card">
                            <div class="card-icon">
                                <i class="icon iconfont icon-jianjie"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title grey-333">简介</h2>
                                <p class="card-text grey-666">清华大学（Tsinghua University），简称“清华”，由中华人民共和国教育部直属，中央直管副部级建制，位列“211工程”、“985工程”、“世界一流大学和一流学科”，入选“基础学科拔尖学生培养试验计划”、“高等学校创新能力提升计划”、“高等学校学科创新引智计划”，为九校联盟、中国大学校长联谊会、东亚研究型大学协会、亚洲大学联盟、环太平洋大学联盟、清华—剑桥—MIT低碳大学联盟成员，被誉为“红色工程师的摇篮”。</p>
                            </div>
                        </div>
                        <div class="card tm-card tm-item-card">
                            <div class="card-icon">
                                <i class="icon iconfont icon-tesezhuanti"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title grey-333">教育特色</h2>
                                <p class="card-text grey-666">《清华大学科技成果重点推广项目》汇集并展示了清华大学年内最新的科技成果，反映了学校在高新技术领域的最新成就。由该刊发布的科技成果着眼于公共安全、能源环境、信息、先进制造、新材料、医疗卫生等领域，作为学校向地方、企业重点推广的项目，从而促进最新科技成果向现实生产力的高效转化，推动科技成果的持续研究。</p>
                            </div>
                        </div>
                        <div class="card tm-card tm-item-card">
                            <div class="card-icon">
                                <i class="icon iconfont icon-youxiliebiaoxuanzhongzhuangtai"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title grey-333">学习状况</h2>
                                <p class="card-text grey-666">贫困学习，重点扶贫对象，师资力量匮乏，教学质量难以保证</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tm-v-card">
                            <div class="video-wrapper">
                                <div class="video-player">
                                    <video class="video-js responsive-video" id="tm_video">
                                        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                                        <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                    </video>
                                    <div class="tm_video_image">
                                        <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/video_bg.png" alt="tm">
                                    </div>
                                    <div class="tm_video_info">
                                        <p>程英旭</p>
                                        <h2 class="text-truncate">英美籍建筑设计师程炳旭：对于建筑师而言，什么是最重要的？</h2>
                                    </div>
                                    <div class="tm_video_share" id="share-box">
                                        <div class="tm_share">
                                            <a href="#" class="tm_share_button">
                                                        <i class="icon iconfont icon-dianhua"></i>
                                                        <span>邀约</span>
                                                    </a>
                                            <a href="##" class="tm_share_button" data-target="#share_box" id="share">
                                                        <i class="icon iconfont icon-fenxiang"></i>
                                                        <span>分享</span>
                                                    </a>
                                            <div class="share_wrapper d-none" id="share_box">
                                                <a class="jiathis_button_weixin tm_share_icon">
                                                            <i class="icon iconfont icon-weixin"></i>
                                                        </a>
                                                <a class="jiathis_button_tsina tm_share_icon">
                                                            <i class="icon iconfont icon-weibo"></i>
                                                        </a>
                                                <a class="jiathis_button_tqq tm_share_icon">
                                                            <i class="icon iconfont icon-qq"></i>
                                                        </a>
                                            </div>
                                        </div>
                                        <!-- JiaThis Button BEGIN -->
                                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                        <!-- JiaThis Button END -->
                                    </div>
                                </div>
                            </div>
                            <div class="card tm-card vv-wrapper">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 card-space">
                                        <div class="card hoverable card-hover">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="card-content">
                                                <span class="card-title grey-333">成为更好的自己</span>
                                                <div class="vd-extra">
                                                    <span class="grey-666">演讲者：周程程</span>
                                                    <span class="grey-999">9999次播放</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav class="pg-wrapper d-none d-md-block" aria-label="navigation">
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item disabled"><a href="#!"> <i class="icon iconfont icon-left"></i> </a></li>
                                            <li class="active"><a href="#!">1</a></li>
                                            <li class="page-item"><a href="#!">2</a></li>
                                            <li class="page-item"><a href="#!">3</a></li>
                                            <li class="page-item"><a href="#!">4</a></li>
                                            <li class="page-item"><a href="#!">...</a></li>
                                            <li class="page-item"><a class="valign-wrapper" href="#!">20</a></li>
                                            <li class="page-item"><a href="#!"><i class="icon iconfont icon-right"></i></a></li>
                                            <li class="page-total">
                                                共 16 页
                                            </li>
                                        </ul>
                                    </nav>
                                    <nav class="pg-wrapper d-block d-md-none" aria-label="navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled"><a href="#!"> <i class="icon iconfont icon-left"></i> </a></li>
                                            <li class="active"><a href="#!">1</a></li>
                                            <li class="page-item"><a href="#!"><i class="icon iconfont icon-right"></i></a></li>
                                            <li class="page-total">
                                                共 16 页
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="card tm-card tm-photowall">
                                <h2 class="pw-title">
                                    <i class="icon iconfont icon-zhaopian"></i>
                                    照片
                                </h2>
                                <div class="pw-wrapper">
                                    <div class="pw-col">
                                        <div class="pw-cube">
                                            <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                        </div>
                                        <div class="pw-col-row">
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                        </div>
                                        <div class="pw-col-row">
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pw-col d-none d-md-block">
                                        <div class="pw-cube">
                                            <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                        </div>
                                        <div class="pw-col-row">
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                        </div>
                                        <div class="pw-col-row">
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                            <div class="pw-cube">
                                                <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/office.jpg" class="img-height" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= require('html-loader!../templates/signModule.html') %>
            <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
