<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 首页 - 涂梦教育 </title>
</head>

<body>
    <%= require('html-loader!../templates/header.html') %>
        <section class="wrapper bg-grey-light vd-pad-70">
            <div class="container wrapper-top">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="video-wrapper">
                            <div class="index-video">
                                <div class="video-player">
                                    <video class="video-js responsive-video" id="tm_video">
                                        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                                        <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                    </video>
                                    <div class="tm_video_image">
                                        <img src="assets/image/video_bg.png" alt="tm">
                                    </div>
                                    <div class="tm_video_info">
                                        <p>程英旭</p>
                                        <h2 class="text-truncate">英美籍建筑设计师程炳旭：对于建筑师而言，什么是最重要的？</h2>
                                    </div>
                                    <div class="tm_video_share" id="share-box">
                                        <div class="tm_share">
                                            <a href="#" class="tm_share_button">
                                                <i class="icon iconfont icon-dianhua"></i>
                                                <span>邀约</span>
                                            </a>
                                            <a href="javascript:void(0)" class="tm_share_button" data-target="#share_box" id="share" >
                                                <i class="icon iconfont icon-fenxiang"></i>
                                                <span>分享</span>
                                            </a>
                                            <div class="share_wrapper d-none" id="share_box" >
                                                <a class="jiathis_button_weixin tm_share_icon">
                                                    <i class="icon iconfont icon-weixin"></i>
                                                </a>
                                                <a class="jiathis_button_tsina tm_share_icon">
                                                    <i class="icon iconfont icon-weibo"></i>
                                                </a>
                                                <a class="jiathis_button_tqq tm_share_icon">
                                                    <i class="icon iconfont icon-qq"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- JiaThis Button BEGIN -->
                                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                        <!-- JiaThis Button END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- mobile -->
                        <div class="vd-intro d-sm-block d-md-none">
                            <ul class="nav tabs" role="tablist">
                                <li class="nav-item tab">
                                    <a class="active" data-toggle="tab" href="#vd-info">视频详情</a>
                                </li>
                                <li class="nav-item tab">
                                    <a data-toggle="tab" href="#vd-author">作者简介</a>
                                </li>
                                <li class="nav-item tab">
                                    <a data-toggle="tab" href="#vd-school">学校简介</a>
                                </li>
                                <li class="tab vd-info d-none d-md-block">
                                    <span>上传时间：2017-12-12</span>
                                    <span>播放次数：19.2万 次</span>
                                </li>
                            </ul>
                            <div class="ivd-content tab-content">
                                <div class="tab-pane active cube" role="tabpanel" id="vd-info">
                                    <p>本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <h5>建筑是什么</h5>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <h5>建筑是什么</h5>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                </div>
                                <div class="tab-pane cube" role="tabpanel" id="vd-author">
                                    <div class="ivd-avatar">
                                        <img src="assets/image/office.jpg" class="responsive-img" alt="陈炳旭">
                                        <div class="ivd-info">
                                            <h5>陈炳旭<sub>建筑师</sub></h5>
                                            <p>15<sub>邀约</sub></p>
                                            <p>30<sub>贡献人数</sub></p>
                                            <div class="ivd-group">
                                                <a href="#!" class="btn">立即邀约</a>
                                                <a href="#!" class="btn ivd-left">全部作品</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
                                </div>
                                <div class="tab-pane cube" role="tabpanel" id="vd-school">
                                    <div class="ivd-avatar">
                                        <img src="assets/image/office.jpg" class="responsive-img" alt="清华大学">
                                        <div class="ivd-info">
                                            <h5>清华大学<sub>全国重点大学</sub></h5>
                                            <p>15 <sub>分享获得</sub></p>
                                            <div class="ivd-group">
                                                <a href="#!" class="btn">立即邀约</a>
                                                <a href="#!" class="btn ivd-left">全部作品</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
                                </div>
                            </div>
                        </div>
                        <!-- pc -->
                        <div class="vd-intro d-none d-md-block">
                            <ul class="nav tabs" role="tablist">
                                <li class="nav-item tab">
                                    <a class="active" data-toggle="tab" href="#vd-info">视频详情</a>
                                </li>
                                <li class="tab vd-info d-none d-md-block">
                                    <span>上传时间：2017-12-12</span>
                                    <span>播放次数：19.2万 次</span>
                                </li>
                            </ul>
                            <div class="ivd-content tab-content">
                                <div class="tab-pane active cube" role="tabpanel" id="vd-info">
                                    <p>本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <h5>建筑是什么</h5>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <h5>建筑是什么</h5>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                    <p>用梁思成先生的话说：“建筑是人类的生成获得”，本次涂梦课堂，我们邀请到建筑设计师————XXX，给广西扶绥中学的高中生们和贵州织金思源的初中学生们，带来了关于建筑师的职业分享</p>
                                </div>
                            </div>
                            <ul class="nav tabs" role="tablist">
                                <li class="nav-item tab">
                                    <a class="active" data-toggle="tab" href="#vd-author">作者简介</a>
                                </li>
                            </ul>
                            <div class="ivd-content tab-content">
                                <div class="tab-pane active cube" role="tabpanel" id="vd-author">
                                    <div class="ivd-avatar">
                                        <img src="assets/image/office.jpg" class="responsive-img" alt="陈炳旭">
                                        <div class="ivd-info">
                                            <h5>陈炳旭<sub>建筑师</sub></h5>
                                            <p>15<sub>邀约</sub></p>
                                            <p>30<sub>贡献人数</sub></p>
                                            <div class="ivd-group">
                                                <a href="#!" class="btn">立即邀约</a>
                                                <a href="#!" class="btn ivd-left">全部作品</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
                                </div>
                            </div>
                            <ul class="nav tabs" role="tablist">
                                <li class="nav-item tab">
                                    <a class="active" data-toggle="tab" href="#vd-school">学校简介</a>
                                </li>
                            </ul>
                            <div class="ivd-content tab-content">
                                <div class="tab-pane active cube" role="tabpanel" id="vd-school">
                                    <div class="ivd-avatar">
                                        <img src="assets/image/office.jpg" class="responsive-img" alt="清华大学">
                                        <div class="ivd-info">
                                            <h5>清华大学<sub>全国重点大学</sub></h5>
                                            <p>15 <sub>分享获得</sub></p>
                                            <div class="ivd-group">
                                                <a href="#!" class="btn">立即邀约</a>
                                                <a href="#!" class="btn ivd-left">全部作品</a>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="ivd-p">陈炳旭(Chen Bingxu) 早年移居英国伦敦，英国费冰蓝设计事务所董事，英国格林威治大学硕士，清华大学建筑学博士生。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老。他拥有多年建筑设计和城市设计经验，专注养老</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="extra-intro">
                            <ul class="nav tabs" role="tablist">
                                <li class="nav-item tab"><a data-toggle="tab" href="#extra-info">相关推荐</a></li>
                                <li class="nav-item tab"><a data-toggle="tab" class="active" href="#extra-opus">作者作品</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane " id="extra-info">
                                    <ul class="collection">
                                        <a href="#!" class="collection-item avatar">Alvin</a>
                                        <a href="#!" class="collection-item avatar active">Alvin</a>
                                        <a href="#!" class="collection-item avatar">Alvin</a>
                                        <a href="#!" class="collection-item avatar">Alvin</a>
                                    </ul>
                                </div>
                                <div class="tab-pane active" id="extra-opus">
                                    <ul class="collection">
                                        <div class="collection-item vd-recommend">
                                            <div class="vd-image">
                                                <img src="assets/image/office.jpg" alt="" class="responsive-img">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="vd-commend-info">
                                                <h3> <a href="#">如何快速的掌握学习英语的小窍门的..</a> </h3>
                                                <p>演讲者： <a href="#">张小衫</a> </p>
                                                <span class="tip">900 次播放</span>
                                            </div>
                                        </div>
                                        <div class="collection-item vd-recommend">
                                            <div class="vd-image">
                                                <img src="assets/image/office.jpg" alt="" class="responsive-img">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="vd-commend-info">
                                                <h3> <a href="#">如何快速的掌握学习英语的小窍门的..</a> </h3>
                                                <p>演讲者： <a href="#">张小衫</a> </p>
                                                <span class="tip">900 次播放</span>
                                            </div>
                                        </div>
                                        <div class="collection-item vd-recommend">
                                            <div class="vd-image">
                                                <img src="assets/image/office.jpg" alt="" class="responsive-img">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="vd-commend-info">
                                                <h3> <a href="#">如何快速的掌握学习英语的小窍门的..</a> </h3>
                                                <p>演讲者： <a href="#">张小衫</a> </p>
                                                <span class="tip">900 次播放</span>
                                            </div>
                                        </div>
                                        <div class="collection-item vd-recommend">
                                            <div class="vd-image">
                                                <img src="assets/image/office.jpg" alt="" class="responsive-img">
                                                <span class="vd-times badge">12:58</span>
                                            </div>
                                            <div class="vd-commend-info">
                                                <h3> <a href="#">如何快速的掌握学习英语的小窍门的..</a> </h3>
                                                <p>演讲者： <a href="#">张小衫</a> </p>
                                                <span class="tip">900 次播放</span>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= require('html-loader!../templates/signModule.html') %>
            <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
