<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../templates/head.html') %>
        <title> 演讲 - 涂梦教育 </title>
</head>

<body>
    <%= require('html-loader!../templates/course_header.html') %>
        <div class="index-image-wrapper">
            <img src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/banner.png" class="img-fluid res-image" alt="banner">
        </div>
        <section class="wrapper bg-grey-light">
            <!-- search-input -->
            <div class="container sr-wrapper">
                <div class="sr-button-wrapper">
                    <div class="sr-button truncate active"> <span>综合排序</span> </div>
                    <div class="sr-button truncate sr-button-hover"><span>最新发布</span></div>
                    <div class="sr-button truncate sr-button-hover"><span>最多播放</span></div>
                </div>
                <div class="sr-search">
                    <div class="sr-select-wrapper d-none d-md-block">
                        <select name="type" class="sr-select browser-default">
                            <option value="0">全部分类</option>
                            <option value="1">aa</option>
                            <option value="2">bb</option>
                        </select>
                    </div>
                    <div class="sr-select-wrapper d-none d-md-block">
                        <select name="type" class="sr-select browser-default">
                            <option value="0">全部时长</option>
                            <option value="1">aa</option>
                            <option value="2">bb</option>
                        </select>
                    </div>
                    <div class="sr-select-wrapper d-none d-md-block">
                        <select name="type" class="sr-select browser-default">
                            <option value="0">全部上传时间</option>
                            <option value="1">aa</option>
                            <option value="2">bb</option>
                        </select>
                    </div>
                    <div class="sr-select-wrapper">
                        <div class="search-item">
                            <input placeholder="请输入..." type="text" class="search-input validate">
                            <span class="search-icon">
                                <i class="icon iconfont icon-search" ></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vd-context">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-line-5 card-space">
                            <div class="card hoverable card-hover">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="responsive-img" src="<%= htmlWebpackPlugin.options.publicPath %>/static/image/card.png">
                                    <span class="vd-times badge">12:58</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-333">成为更好的自己</span>
                                    <div class="vd-extra">
                                        <span class="grey-666">演讲者：周程程</span>
                                        <span class="grey-999">9999次播放</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="pg-wrapper d-none d-md-block" aria-label="navigation">
                            <ul class="pagination justify-content-end">
                                <li class="page-item disabled"><a href="#!"> <i class="icon iconfont icon-left"></i> </a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="page-item"><a href="#!">2</a></li>
                                <li class="page-item"><a href="#!">3</a></li>
                                <li class="page-item"><a href="#!">4</a></li>
                                <li class="page-item"><a href="#!">...</a></li>
                                <li class="page-item"><a class="valign-wrapper" href="#!">20</a></li>
                                <li class="page-item"><a href="#!"><i class="icon iconfont icon-right"></i></a></li>
                                <li class="page-total">
                                    共 16 页
                                </li>
                            </ul>
                        </nav>
                        <nav class="pg-wrapper d-block d-md-none" aria-label="navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><a href="#!"> <i class="icon iconfont icon-left"></i> </a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="page-item"><a href="#!"><i class="icon iconfont icon-right"></i></a></li>
                                <li class="page-total">
                                    共 16 页
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>

        </section>
        <%= require('html-loader!../templates/signModule.html') %>
            <%= require('html-loader!../templates/footer.html') %>
</body>

</html>
