@import '_variables.scss';
body {
    // 知乎
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
        Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
        WenQuanYi Micro Hei, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hoverable.card-hover:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease-out;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.19);
    .card-content {
        background: $primary-color;
        height: 70px;
        padding: 10px;
        .grey-333,
        .grey-666,
        .grey-999 {
            color: white;
        }
    }
}

// tabs 修改
@mixin common-tabs {
    display: flex;
    border-bottom: 1px solid #bebebe;
    .ex-tab {
        a {
            color: #333;
            font-size: 16px;
        }
    }
}

.wrapper {
    overflow: hidden;
}

.vd-pad-70 {
    padding: 70px 0;
}

.btn {
    background: $primary-color;
}

// pagination
.pagination {
    li.active {
        border-radius: 50%;
        background: $primary-color;
    }
    li {
        a {
            font-size: 1rem;
        }
    }
    .page-total {
        font-size: 1rem;
        line-height: 30px;
    }
}

// video card
.vd-context {
    margin: 22px 0;
    .vd-title {
        margin: 15px 0;
        font-size: 24px;
        color: #666;
    }
    .card-content {
        padding: 10px 5px;
        height: 70px;
        .card-title {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    }
    .card-image {
        position: relative;
        .vd-times {
            background: rgba(56, 58, 60, 0.9);
            font-size: 12px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: white;
        }
    }
    .vd-extra {
        display: flex;
        justify-content: space-between;
        span {
            font-size: 12px;
        }
        span.grey-66 {
            font-size: 14px;
            margin-top: -1px;
        }
    }
}

// header
.tum-header {
    position: fixed;
    z-index: 1000;
    height: $header;
    display: flex;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
    .tum-navbar {
        display: flex;
        justify-content: space-between;
        .tum-left {
            display: flex;
            width: 300px;
        }
        .tum-right {
            display: flex;
            width: 300px;
            justify-content: flex-end;
        }
        .tum-center {
            display: flex;
            flex: 1;
            justify-content: center;
        }
        .tum-item {
            width: 150px;
            padding: 12px 0;
            height: $header;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                line-height: 22px;
                margin: 0;
                font-size: 14px;
            }
        }
    }
    .tum-sign-button {
        padding: 0 20px;
        margin-left: 12px;
        font-size: 14px;
        white-space: nowrap;
        color: white;
        background: $primary-color;
    }
    .tum-logo {
        background: url('../assets/image/logo.png') center center no-repeat;
        .border-right {
            border-right: 1px solid #333;
            width: 100%;
            height: 100%;
        }
    }
    .nav-items {
        li {
            a {
                color: #000;
                height: $header;
                line-height: $header;
                white-space: nowrap;
                font-size: 15px;
            }
        }
    }
}
// search
.search-item {
    position: relative;
    input[type='text'].search-input {
        box-sizing: border-box;
        height: 35px;
        min-width: 200px;
        border: 1px solid #bebebe;
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 0;
        &:focus {
            border-bottom: 1px solid #bebebe;
            box-shadow: none;
        }
    }
    span.search-icon {
        position: absolute;
        top: 0px;
        right: 0;
        margin: auto;
        height: 35px;
        bottom: 0;
        padding: 0 8px;
        color: #bebebe;
        i {
            line-height: 35px;
        }
    }
}

// footer
.page-footer {
    background: $primary-color;
    padding-top: 8px;
    .tum-footer {
        background: $footer_bg;
        .footer-wrapper {
            .footer-item {
                display: flex;
                flex-direction: column;
                .ft-logo {
                    margin: 54px 0 30px;
                }
                .ft-ps {
                    letter-spacing: 4px;
                    margin: 7px 12px;
                }
                .ft-top {
                    margin: 40px 0;
                    .ft-title {
                        line-height: 30px;
                        font-size: 18px;
                        margin: 18px 0 30px;
                    }
                    li {
                        font-size: 14px;
                        line-height: 30px;
                        margin-bottom: 8px;
                    }
                }
                .ft-bottom > img {
                    width: 140px;
                }
            }
        }
        .footer-copyright {
            font-size: 14px;
            background: $copyright_bg;
        }
    }
}

// background
.bg-grey {
    background: $gray_deep_bg;
}

.bg-grey-light {
    background: $gray_shadow_bg;
}

.hove_undeline:hover {
    text-decoration: underline;
}

// card fixed
.card {
    box-shadow: none;
    margin: 0;
    background: none;
}

.grey-999 {
    color: #999;
}

.grey-666 {
    color: #666;
}

.grey-333 {
    color: #333;
}

.row {
    margin: 0 -0.25rem;
    .col {
        padding: 0 0.25rem;
    }
}

.mt-col {
    margin-top: 10px;
}

// video-wrapper
.video-wrapper {
    display: flex;
    .video-item {
        position: relative;
    }
    .index-video {
        width: 100%;
        overflow: hidden;
        .video-player {
            position: relative;
            top: 0;
            #video {
                width: 100%;
            }
        }
        .index-video-image {
            display: flex;
            position: relative;
            flex-direction: column-reverse;
            overflow: hidden;
            cursor: pointer;
            img {
                position: relative;
                z-index: 1;
            }
        }
    }
    .video-mask.extra-mask {
        padding: 0 20px;
        height: 65px;
        bottom: 0;
        h4 {
            margin: 10px 0 5px;
            font-size: 20px;
        }
        p {
            font-size: 14px;
            margin: 0;
        }
    }
    .video-mask.index-mask {
        padding: 15px 40px;
        height: 100px;
    }
    .video-mask {
        width: 100%;
        color: white;
        z-index: 5;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 5px 0;
        }
        p {
            margin: 10px 0;
        }
    }
}

// sign module
.sign-module {
    padding: 60px 0;
    display: flex;
}

// collection
.collection {
    margin: 0;
    border: 0;
}

@media only screen and (max-width: 660px) {
    .page-footer .tum-footer {
        .footer-wrapper {
            .footer-item {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .hide-on-large-and-down {
        display: none;
    }
}
