@import 'lib/common.scss';
.joinus {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 80px;
        font-weight: bold;
        color: $primary-color;
        margin: 180px auto 45px;
    }
    h3 {
        font-size: 38px;
        max-width: 610px;
        line-height: 72px;
        margin: 0;
    }
    .joinus-button {
        background: transparent;
        width: 378px;
        height: 85px;
        box-sizing: border-box;
        color: #333;
        border: 1px solid #555;
        font-size: 36px;
        margin-top: 60px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.share-type {
    .st-box {
        @include center();
        max-width: 800px;
        top: 180px;
        margin-left: 320px;
        .lecture-title {
            color: $primary-color;
            font-size: 54px;
            font-weight: bold;
        }
        .lecture-context {
            background: $primary-color;
            color: white;
            padding: 60px 45px;
            font-size: 36px;
            line-height: 56px;
            margin-top: 60px;
        }
    }
}

.banner-image {
    min-width: 1500px;
}

.banner-box {
    position: relative;
    color: white;
    padding: 20px;
    h3 {
        margin: 1% 0 1%;
        font-size: 50px;
    }
    p {
        font-size: 30px;
        margin: 0;
    }
    h2 {
        font-size: 64px;
        font-weight: bold;
        margin-top: 14px;
    }
    .jo-btn {
        position: absolute;
        top: 16%;
        left: 30%;
        width: 150px;
        height: 50px;
        font-size: 24px;
        color: white;
        background: inherit;
        border-radius: 25px;
        border: 1px solid #fff;
        &:hover {
            text-decoration: underline;
        }
    }
}

.area-carousel {
    h2.title {
        color: #333;
        font-size: 36px;
        font-weight: bold;
        margin: 30px auto;
    }

    .carousel {
        display: flex;
        margin: 30px auto 80px;
        ul {
            display: flex;
        }
        .cr-item {
            position: relative;
            overflow: hidden;
            width: 220px;
            height: 600px;
            display: flex;
            flex-direction: column;
            margin: 0 -25px;

            .item-context {
                padding: 20px;
                width: 140px;
                position: relative;
                left: 55%;
                transform: translateX(-50%);
                font-size: 20px;
                display: flex;
                flex-direction: column;
                text-align: center;
                .area {
                    width: 100%;
                    position: absolute !important;
                    @include center();
                    font-size: 40px;
                    font-weight: bold;
                    margin-left: -13px;
                    color: #fff;
                }
            }

            &.top {
                justify-content: flex-start;
                .item-context {
                    bottom: 320px;
                    span.area {
                        top: 196px;
                    }
                }
            }
            &.bottom {
                justify-content: flex-end;
                .item-context {
                    top: 320px;
                    span.area {
                        bottom: 196px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .joinus h2 {
        margin: 80px auto 40px;
    }
    .share-type {
        .st-box {
            max-width: 600px;
            margin-left: 210px;
            .lecture-title {
                font-size: 40px;
            }
            .lecture-context {
                padding: 30px;
                font-size: 30px;
                line-height: 50px;
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .share-type .st-box {
        position: static;
        padding: 20px;
        margin: 10px auto;
        transform: translateX(0);
        left: 0;
    }
    .banner-image {
        min-width: 1200px;
    }
    .banner-box {
        h3 {
            font-size: 36px;
        }
        p {
            font-size: 22px;
            margin-top: 24px;
        }
        h2 {
            font-size: 40px;
        }
        .jo-btn {
            font-size: 20px;
            width: 120px;
            height: 36px;
        }
    }
    .joinus {
        h2 {
            font-size: 46px;
            margin: 44px auto;
        }
        h3 {
            font-size: 30px;
            line-height: 55px;
        }
        .joinus-button {
            width: 250px;
            height: 60px;
            font-size: 30px;
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .share-type {
        img {
            width: 1110px;
        }
        .st-box {
            .lecture-context {
                margin: 20px 10px 0;
                padding: 20px;
                font-size: 24px;
                line-height: 44px;
            }
            .lecture-title {
                font-size: 30px;
                text-align: center;
                padding: 0 10px;
                margin-left: 0;
            }
        }
    }
    .joinus {
        height: 310px;
        h2 {
            font-size: 32px;
            margin: 40px auto 20px;
        }
        h3 {
            font-size: 22px;
            line-height: 38px;
            padding: 0 20px;
        }
        .joinus-button {
            width: 125px;
            height: 45px;
            font-size: 20px;
            margin-top: 20px;
        }
    }
    .banner-image {
        left: 60%;
    }
    .banner-box {
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
            margin-top: 20px;
        }
        h2 {
            font-size: 30px;
        }
        .jo-btn {
            font-size: 18px;
            width: 110px;
            height: 36px;
            left: 160px;
        }
    }
}
