@import 'common.scss';

.index-carousel {
    overflow: hidden;
}

.wrapper {
    .video-title {
        font-size: 30px;
        color: $primary-color;
        margin-top: 70px;
    }

    // 数据分布
    .record-wrapper {
        overflow: hidden;
        padding: 20px 0;
        .record-item {
            box-sizing: border-box;
            padding: 0 15px;
            color: white;
            h2 {
                margin: 15px 0;
                font-size: 56px;
            }
            h3 {
                margin: 15px 0;
                font-size: 30px;
            }
            p {
                padding: 0 50px;
                margin-top: 20px;
                line-height: 25px;
                font-size: 14px;
            }
        }
        .br-right {
            border-right: 3px solid white;
        }
    }
}
.vd-ss {
    padding: 20px 0;
    margin-top: 70px;
}

.record-aass {
    background: $primary-color;
}

.record-map {
    background: url('../assets/image/map.png') center center no-repeat;
}

@media only screen and (max-width: 1370px) {
    .wrapper {
        .record-wrapper {
            .br-right {
                border: 0;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .wrapper .video-wrapper .extra-video {
        padding-left: 0.25rem;
    }
    .record-map {
        background: url('../assets/image/map_phone.png') center center no-repeat;
    }
}

@media only screen and (max-width: 660px) {
    .wrapper {
        .record-wrapper {
            height: auto;
            .br-right {
                border: 0;
            }
            .record-item {
                padding: 0;
                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 26px;
                }
                p {
                    padding: 0 12px;
                    margin-top: 12px;
                }
            }
        }
        .video-title {
            margin: 25px 0;
        }
        .sign-module {
            padding: 35px 0;
            a {
                margin-bottom: 10px;
            }
        }
    }
    .vd-ss {
        margin-top: 40px;
    }
}
