@import 'lib/common.scss';

.index-image-wrapper {
    overflow: hidden;
    .carousel-inner {
        height: 100%;
    }
    .carousel-item {
        height: 100%;
        a {
            background-position: center top;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.big-item {
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    .video-mask {
        bottom: 0;
        padding: 15px 10px 15px 20px;
        h2 {
            font-size: 28px;
        }
        p {
            margin: 0;
        }
    }
}

.wrapper {
    .video-title {
        font-size: 36px;
        color: $primary-color;
        margin: 70px 0 25px;
    }
}
.vd-ss {
    padding: 20px 0;
    margin-top: 70px;
}

@media only screen and (max-width: $mobile) {
    .wrapper {
        .video-wrapper .extra-video {
            padding-left: 0.25rem;
        }
        .video-title {
            margin: 25px 0;
            font-size: 24px;
        }
    }
    .vd-ss {
        margin-top: 40px;
    }

    .big-item {
        .video-mask {
            h2 {
                font-size: 18px;
                font-weight: normal;
            }
            p {
                font-size: 12px;
            }
        }
    }
}
