<!-- speaker -->
<div class="modal fade" id="speaker_login" tabindex="-1" role="dialog" aria-labelledby="speaker_title" aria-hidden="true">
    <div class="modal-dialog tm-dialog" role="document">
        <div class="modal-content tm-sign-modal">
            <div class="tm-sign-image d-none d-md-block">
                <img src="../../assets/image/sign/speaker.png" class="img-fluid">
                <div class="sign-info">
                    <h3>欢迎登陆涂梦演讲者账号</h3>
                    <p>贡献思想，传播价值</p>
                </div>
            </div>
            <form class="tm-sign-wrapper">
                <span class="close" data-dismiss="modal">
                    <i class="icon iconfont icon-guanbi"></i>
                </span>
                <div class="sign-box">
                    <div class="form-group">
                        <label for="phone">手机号：</label>
                        <input type="phone" class="form-control"  aria-describedby="emailHelp" placeholder="您的手机号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码：</label>
                        <input type="password"  class="form-control" placeholder="5~15位数字和字母">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="know_key">
                        <label class="custom-control-label" for="know_key">记住密码</label>
                        <a href="##" class="right">忘记密码</a>
                    </div>
                </div>
                <button class="submit-btn tm-btn sign-btn">登陆</button>
                <p class="sign-redirect-register" href="#">没有账号？<a href="##" data-toggle="modal" data-target="#speaker_register" >注册</a> </p>
            </form>
        </div>
    </div>
</div>

<!-- school -->
<div class="modal fade" id="school_login" tabindex="-1" role="dialog" aria-labelledby="school_title" aria-hidden="true">
    <div class="modal-dialog tm-dialog" role="document">
        <div class="modal-content tm-sign-modal">
            <div class="tm-sign-image d-none d-md-block">
                <img src="../../assets/image/sign/school.png" class="img-fluid">
                <div class="sign-info">
                    <h3>欢迎登陆涂梦学校账号</h3>
                    <p>获得来自各行各业演讲者的精彩分享</p>
                </div>
            </div>
            <form class="tm-sign-wrapper">
                <span class="close" data-dismiss="modal">
                    <i class="icon iconfont icon-guanbi"></i>
                </span>
                <div class="sign-box">
                    <div class="form-group">
                        <label for="phone">手机号：</label>
                        <input type="phone" class="form-control"  aria-describedby="emailHelp" placeholder="您的手机号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码：</label>
                        <input type="password"  class="form-control" placeholder="5~15位数字和字母">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="know_password">
                        <label class="custom-control-label" for="know_password">记住密码</label>
                        <a href="##" class="right">忘记密码</a>
                    </div>
                </div>
                <button class="submit-btn tm-btn sign-btn">登陆</button>
                <p class="sign-redirect-register" href="#">没有账号？<a href="##" data-toggle="modal" data-target="#school_register" >注册</a> </p>
            </form>
        </div>
    </div>
</div>
